Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.29.1
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1756)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.55.1
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat(registry-scanner): add support for ocp registry (#1711)
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
  charts/registry-scanner/README.tpl
  charts/registry-scanner/templates/_job.tpl
  charts/registry-scanner/templates/clusterrole.yaml
  charts/registry-scanner/templates/clusterrolebinding.yaml
  charts/registry-scanner/templates/configmap.yaml
  charts/registry-scanner/templates/secret.yaml
  charts/registry-scanner/tests/ocp_test.yaml
  charts/registry-scanner/tests/ocp_test_values.yaml
  charts/registry-scanner/values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/registry-scanner/README.md
  charts/registry-scanner/values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for registry-scanner-1.2.0
  charts/registry-scanner/CHANGELOG.md
  charts/registry-scanner/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

feat(agent,kspm-collector,node-analyzer,rapid-response): update kubectl images used for test
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/Chart.yaml
  charts/rapid-response/values.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent,kspm-collector,node-analyzer,rapid-response): update kubectl images used for testing purpose (#1758)
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/Chart.yaml
  charts/rapid-response/values.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/agent/values.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/values.yaml
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.24.1
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.29.2
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for kspm-collector-0.15.5
  charts/kspm-collector/CHANGELOG.md
  charts/kspm-collector/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for rapid-response-0.9.1
  charts/rapid-response/CHANGELOG.md
  charts/rapid-response/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1759)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.55.2
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

deps(cluster-scanner): udpate cluster scanner to latest version
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

deps: bump chart version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

deps(cluster-scanner): udpate cluster scanner to 0.8.3 (#1760)
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-scanner-0.13.4
  charts/cluster-scanner/CHANGELOG.md
  charts/cluster-scanner/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.55.3
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

rework paths in the chart
  charts/agent/templates/_helpers.tpl
  charts/agent/templates/configmap-deployment.yaml
  charts/agent/templates/configmap.yaml
  charts/agent/templates/daemonset-windows.yaml
  charts/agent/templates/daemonset.yaml
Owners: @sysdiglabs/team-tools-agent

wip: mount the proxy credentials secret
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

deps(cluster-scanner): udpate cluster scanner to v0.8.5
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
Owners: none

deps(cluster-scanner): udpate cluster scanner to v0.9.0
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
Owners: none

chore(cluster-shield): bump to version v0.11.0
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/README.tpl
  charts/cluster-shield/ci/base-values.yaml
  charts/cluster-shield/ci/existing_secrets-values.yaml
  charts/cluster-shield/ci/region-values.yaml
  charts/cluster-shield/doc.yaml
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/templates/clusterrole.yaml
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/templates/role.yaml
  charts/cluster-shield/templates/secrets.yaml
  charts/cluster-shield/tests/configmap_test.yaml
  charts/cluster-shield/tests/global_settings_test.yaml
  charts/cluster-shield/tests/proxy_settings_test.yaml
  charts/cluster-shield/tests/schema_test.yaml
  charts/cluster-shield/tests/secret_test.yaml
  charts/cluster-shield/values.schema.json
  charts/cluster-shield/values.yaml
Owners: none

feat(sysdig-deploy): integrate cluster-shield
  charts/sysdig-deploy/Chart.yaml
  charts/sysdig-deploy/templates/cluster-shield-check.yaml
  charts/sysdig-deploy/tests/cluster_shield_constraint_test.yaml
  charts/sysdig-deploy/values.yaml
Owners: @sysdiglabs/team-tools-agent

feat(cluster-shield): document optional secure_api_token value
  charts/cluster-shield/README.md
  charts/cluster-shield/values.schema.json
  charts/cluster-shield/values.yaml
Owners: none

[SMAGENT-7271] Use dedicated path for AccessKey
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

use correct secrets path for proxy credentials
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

[SMAGENT-7299] Add livenessProbe
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent
