Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/cluster-shield/ @sysdiglabs/team-tools-agent
/charts/common/         @sysdiglabs/team-tools-agent
/charts/shield/         @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent
/charts/sysdig/         @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.66.7
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat(registry-scanner): check cronjob frequency to avoid misuse (#1983)
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
  charts/registry-scanner/templates/_helpers.tpl
  charts/registry-scanner/templates/cronjob.yaml
  charts/registry-scanner/tests/cronjob_test.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for registry-scanner-1.4.1
  charts/registry-scanner/CHANGELOG.md
  charts/registry-scanner/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

fix: cronjob schedule check
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/templates/_helpers.tpl
  charts/registry-scanner/tests/cronjob_test.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

docs: update chart version
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

fix: lint
  charts/registry-scanner/tests/cronjob_test.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

fix: cronjob schedule check (#1987)
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
  charts/registry-scanner/templates/_helpers.tpl
  charts/registry-scanner/tests/cronjob_test.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for registry-scanner-1.4.2
  charts/registry-scanner/CHANGELOG.md
  charts/registry-scanner/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore: Updating cluster-shield
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/tests/global_settings_test.yaml
  charts/cluster-shield/values.schema.json
Owners: @sysdiglabs/team-tools-agent

fix(cluster-shield): fix type casting for ssl.verify (#1988)
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/tests/global_settings_test.yaml
  charts/cluster-shield/values.schema.json
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-shield-1.4.2
  charts/cluster-shield/CHANGELOG.md
  charts/cluster-shield/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1989)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.66.8
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

Add unit test for dev versions
  charts/agent/tests/readiness_probe_windows_test.yaml
Owners: @sysdiglabs/team-tools-agent

chore: bump the bitnami/kubectl image reference in the node-analyzer ...
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/values.yaml
Owners: none

chore: bump the bitnami/kubectl image reference in the kspm-collector...
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/values.yaml
Owners: none

chore: bump the bitnami/kubectl image reference in the agent chart
  charts/agent/Chart.yaml
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

chore: bump the bitnami/kubectl image reference in the rapid-response...
  charts/kspm-collector/values.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/Chart.yaml
  charts/rapid-response/values.yaml
Owners: none

chore(ci): bump bitnami/kubectl image references (#1992)
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/Chart.yaml
  charts/rapid-response/values.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/agent/values.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/values.yaml
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.32.12
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for rapid-response-0.9.12
  charts/rapid-response/CHANGELOG.md
  charts/rapid-response/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for kspm-collector-0.16.6
  charts/kspm-collector/CHANGELOG.md
  charts/kspm-collector/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.29.9
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

fix(shield): Fix wrong config file name
  charts/shield/templates/host/configmap.yaml
  charts/shield/templates/host/daemonset.yaml
Owners: @sysdiglabs/team-tools-agent

Bump chart version
  charts/shield/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

fix(shield): update host shield configmap tests
  charts/shield/tests/host/configmap-host-shield-config_test.yaml
Owners: @sysdiglabs/team-tools-agent

fix(shield): Fix wrong config file name (#1994)
  charts/shield/Chart.yaml
  charts/shield/templates/host/configmap.yaml
  charts/shield/templates/host/daemonset.yaml
  charts/shield/tests/host/configmap-host-shield-config_test.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for shield-0.1.9
  charts/shield/CHANGELOG.md
  charts/shield/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent
