Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1882)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.61.10
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

fix(agent): set apply kspm-analyzer settings when run in host shield
  charts/agent/Chart.yaml
  charts/agent/templates/configmap.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/kspm_analyzer_test.yaml
Owners: @sysdiglabs/team-tools-agent

deps(cluster-scanner): update cluster scanner to v0.10.0
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
Owners: none

chore(registry-scanner): Update to v0.3.0
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update values.yaml
  charts/admission-controller/values.yaml
Owners: @sysdiglabs/cloud-native

Update README.md
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

Update Chart.yaml
  charts/admission-controller/Chart.yaml
Owners: @sysdiglabs/cloud-native

Update README.md
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

fix(admission-controller): Fix proxy dns resolution (#1885)
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/admission-controller/values.yaml
Owners: @sysdiglabs/cloud-native

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/admission-controller/README.md
  charts/admission-controller/values.yaml
Owners: @sysdiglabs/cloud-native

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for admission-controller-0.16.5
  charts/admission-controller/CHANGELOG.md
  charts/admission-controller/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(node-analyzer): bump sysdig/vuln-host-scanner to v0.11.0
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

chore(registry-scanner): Update to v0.3.0 (#1884)
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for registry-scanner-1.3.3
  charts/registry-scanner/CHANGELOG.md
  charts/registry-scanner/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1886)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.61.11
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(node-analyzer): bump sysdig/vuln-host-scanner to v0.11.0
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(node-analyzer,sysdig-deploy): bump sysdig/vuln-host-scanner to v0.11.0 (#1888)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.62.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.31.0
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

fix(agent): add POD_NAMESPACE to host shield when kspm-analyzer enabled
  charts/agent/templates/configmap.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/kspm_analyzer_test.yaml
Owners: @sysdiglabs/team-tools-agent

fix(cluster-shield): docs link
  charts/cluster-shield/README.md
Owners: none

fix(agent): add kspm-analyzer specific settings to agent pod when enabled (#1889)
  charts/agent/Chart.yaml
  charts/agent/templates/configmap.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/kspm_analyzer_test.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.27.17
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1891)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.62.1
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

fix(agent): set allowHostPorts when needed
  charts/agent/Chart.yaml
  charts/agent/templates/securitycontextconstraint.yaml
  charts/agent/tests/security_context_constraints_test.yaml
Owners: @sysdiglabs/team-tools-agent

fix(agent): set allowHostPorts when needed (#1893)
  charts/agent/Chart.yaml
  charts/agent/templates/securitycontextconstraint.yaml
  charts/agent/tests/security_context_constraints_test.yaml
Owners: @sysdiglabs/team-tools-agent
