Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.25.0
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.57.2
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(registry-scanner): Update to v0.2.71
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore: bump the bitnami/kubectl image reference in the rapid-response...
  charts/rapid-response/Chart.yaml
  charts/rapid-response/values.yaml
Owners: none

chore: bump the bitnami/kubectl image reference in the node-analyzer ...
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/values.yaml
Owners: none

chore: bump the bitnami/kubectl image reference in the kspm-collector...
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/values.yaml
Owners: none

chore: bump the bitnami/kubectl image reference in the agent chart
  charts/agent/Chart.yaml
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

chore(registry-scanner): Update to v0.2.71 (#1796)
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for registry-scanner-1.3.1
  charts/registry-scanner/CHANGELOG.md
  charts/registry-scanner/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Change Bottlerocket apiclient and socket volume mounts to ignore non existent files
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
Owners: none

Bump charts version
  charts/node-analyzer/Chart.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Change mount type for apiclient and socket
  charts/node-analyzer/tests/botllerocket_test.yaml
Owners: none

feat(node-analyzer): Change Bottlerocket apiclient and socket volume mounts to ignore non existent files (#1797)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
  charts/node-analyzer/tests/botllerocket_test.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.29.7
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.57.3
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating cluster-shield
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/templates/openshift_securitycontextconstraint.yaml
  charts/cluster-shield/tests/deployment_test.yaml
  charts/cluster-shield/values.yaml
Owners: none

chore(sysdig-deploy): bump cluster-shield to version 1.1.0
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(cluster-shield): Automatic bump to version 1.1.0 (#1798)
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/templates/openshift_securitycontextconstraint.yaml
  charts/cluster-shield/tests/deployment_test.yaml
  charts/cluster-shield/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-shield/README.md
  charts/cluster-shield/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-shield-1.1.0
  charts/cluster-shield/CHANGELOG.md
  charts/cluster-shield/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.57.4
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: bump the chart version of the agent chart
  charts/agent/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore: update agent tag in agent chart
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

chore(agent): change semver bump from patch to minor
  charts/agent/Chart.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat: release agent 13.3.0 (#1799)
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.58.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.26.0
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

refactor(agent): introduce agent.isSemVer utility
  charts/agent/templates/_helpers.tpl
Owners: @sysdiglabs/team-tools-agent

feat(agent): privileged flag for Sysdig Agent
  charts/agent/Chart.yaml
  charts/agent/README.md
  charts/agent/templates/_helpers.tpl
  charts/agent/templates/daemonset.yaml
  charts/agent/templates/securitycontextconstraint.yaml
  charts/agent/tests/conditional_flag_test.yaml
  charts/agent/tests/security_context_constraints_test.yaml
  charts/agent/values.schema.json
  charts/agent/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent): fix test after the unittest plugin upgrade
  charts/agent/tests/security_context_constraints_test.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent): privileged flag for Sysdig Agent (#1743)
  charts/agent/Chart.yaml
  charts/agent/README.md
  charts/agent/templates/_helpers.tpl
  charts/agent/templates/daemonset.yaml
  charts/agent/templates/securitycontextconstraint.yaml
  charts/agent/tests/conditional_flag_test.yaml
  charts/agent/tests/security_context_constraints_test.yaml
  charts/agent/values.schema.json
  charts/agent/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/agent/README.md
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.27.0
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent
