Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

feat(common,admission-controller,agent,cluster-scanner,kspm-collector,node-analyzer,rapid-response): Add support for the in1 region (#1847)
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/agent/Chart.yaml
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/common/Chart.yaml
  charts/common/templates/_regions.tpl
  charts/kspm-collector/Chart.yaml
  charts/node-analyzer/Chart.yaml
  charts/rapid-response/Chart.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/admission-controller/README.md
  charts/cluster-scanner/README.md
Owners: @sysdiglabs/cloud-native

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-scanner-0.14.1
  charts/cluster-scanner/CHANGELOG.md
  charts/cluster-scanner/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for admission-controller-0.16.4
  charts/admission-controller/CHANGELOG.md
  charts/admission-controller/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for rapid-response-0.9.6
  charts/rapid-response/CHANGELOG.md
  charts/rapid-response/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.27.9
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for common-1.3.1
  charts/common/CHANGELOG.md
  charts/common/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.29.9
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for kspm-collector-0.15.8
  charts/kspm-collector/CHANGELOG.md
  charts/kspm-collector/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1848)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.60.1
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(node-analyzer,kspm-collector,agent,rapid-response): bump the bitnami/kubectl image reference in charts
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/Chart.yaml
  charts/rapid-response/values.yaml
Owners: @sysdiglabs/team-tools-agent

chore(node-analyzer,kspm-collector,agent,rapid-response): bump the bitnami/kubectl image reference in charts (#1772)
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/Chart.yaml
  charts/rapid-response/values.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/agent/values.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/values.yaml
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for kspm-collector-0.15.9
  charts/kspm-collector/CHANGELOG.md
  charts/kspm-collector/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.27.10
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.29.10
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for rapid-response-0.9.7
  charts/rapid-response/CHANGELOG.md
  charts/rapid-response/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1849)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.60.2
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

Bump node analyzer version
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Bump node analyzer version
  charts/node-analyzer/Chart.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat(nodeanalyzer): bump kspm analyzer version for node analyzer (#1850)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.29.11
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1851)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.60.3
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat(node-analyzer): Update legacy engine NIA/HostAnalyzer component with security updates
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

feat(node-analyzer): Update legacy engine NIA/HostAnalyzer component with security updates (#1852)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none
