Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

chore(registry-scanner): Update to v0.5.0
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore: update helm-unittest plugin to version 0.6.1 (#1926)
  Makefile
Owners: none

fix(node-analyzer): enable eve-integration when eveConnector is deployed [SSPROD-18967]
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/templates/runtimeScanner/runtime-scanner-configmap.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

build: bump minor in chart version
  charts/registry-scanner/Chart.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

fix: docs
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

rev
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/templates/runtimeScanner/runtime-scanner-configmap.yaml
Owners: none

rev2
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(registry-scanner): Update to v0.5.0 (#1925)
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for registry-scanner-1.4.0
  charts/registry-scanner/CHANGELOG.md
  charts/registry-scanner/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore: Updating cluster-shield
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/templates/openshift_securitycontextconstraint.yaml
Owners: none

chore(cluster-shield): Automatic bump to version 1.3.1 (#1928)
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/templates/openshift_securitycontextconstraint.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-shield/README.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-shield-1.3.1
  charts/cluster-shield/CHANGELOG.md
  charts/cluster-shield/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1929)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.64.5
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

fix(sysdig-deploy): cluster-shield check for posture does not properly check the global kspm flag
  charts/sysdig-deploy/Chart.yaml
  charts/sysdig-deploy/templates/cluster-shield-check.yaml
  charts/sysdig-deploy/tests/cluster_shield_constraint_test.yaml
Owners: @sysdiglabs/team-tools-agent

fix(sysdig-deploy): cluster-shield check for posture does not properly check the global kspm flag (#1930)
  charts/sysdig-deploy/Chart.yaml
  charts/sysdig-deploy/templates/cluster-shield-check.yaml
  charts/sysdig-deploy/tests/cluster_shield_constraint_test.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.64.6
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(rapid-response): bump rapid-response version to 0.4.7
  charts/rapid-response/Chart.yaml
  charts/rapid-response/README.md
Owners: none

chore(rapid-response): bump rapid-response version to 0.4.7 (#1931)
  charts/rapid-response/Chart.yaml
  charts/rapid-response/README.md
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/rapid-response/README.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for rapid-response-0.9.9
  charts/rapid-response/CHANGELOG.md
  charts/rapid-response/RELEASE-NOTES.md
Owners: none

fix(node-analyzer): enable eve-integration when eveConnector is deployed [SSPROD-18967] (#1927)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/templates/runtimeScanner/runtime-scanner-configmap.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.31.6
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.64.7
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1932)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.64.8
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

Fix SCC volume order for node-analyzer
  charts/node-analyzer/templates/securitycontextconstraint.yaml
Owners: none

chore(node-analyzer): bump the chart version
  charts/node-analyzer/Chart.yaml
Owners: none

feat(node-analyzer): Allow setting parameters for all probes in DaemonSet
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
  charts/node-analyzer/values.yaml
Owners: none
