Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

fix(cluster-shield): fix globals in order to be alligned with sysdig-deploy
  charts/cluster-shield/README.md
  charts/cluster-shield/ci/existing_secrets-values.yaml
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/tests/deployment_test.yaml
  charts/cluster-shield/tests/global_settings_test.yaml
  charts/cluster-shield/tests/proxy_settings_test.yaml
  charts/cluster-shield/tests/schema_test.yaml
  charts/cluster-shield/values.schema.json
  charts/cluster-shield/values.yaml
Owners: none

chore(sysdig-deploy): add clusterShield values docs in sysdig-deploy README
  charts/sysdig-deploy/README.md
Owners: @sysdiglabs/team-tools-agent

fix(cluster-shield): typo in global pull secret
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/tests/image_pull_secrets_test.yaml
Owners: none

chore: remove empty line
  charts/cluster-shield/Chart.yaml
Owners: none

chore: add missing new line in readme
  charts/sysdig-deploy/README.md
Owners: @sysdiglabs/team-tools-agent

feat(cluster-shield,sysdig-deploy): bump cluster-shield to v0.11.0 and integrate it in sysdig-deploy (#1764)
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/README.tpl
  charts/cluster-shield/ci/base-values.yaml
  charts/cluster-shield/ci/existing_secrets-values.yaml
  charts/cluster-shield/ci/region-values.yaml
  charts/cluster-shield/doc.yaml
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/templates/clusterrole.yaml
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/templates/role.yaml
  charts/cluster-shield/templates/secrets.yaml
  charts/cluster-shield/tests/configmap_test.yaml
  charts/cluster-shield/tests/deployment_test.yaml
  charts/cluster-shield/tests/global_settings_test.yaml
  charts/cluster-shield/tests/image_pull_secrets_test.yaml
  charts/cluster-shield/tests/proxy_settings_test.yaml
  charts/cluster-shield/tests/schema_test.yaml
  charts/cluster-shield/tests/secret_test.yaml
  charts/cluster-shield/values.schema.json
  charts/cluster-shield/values.yaml
  charts/sysdig-deploy/Chart.yaml
  charts/sysdig-deploy/README.md
  charts/sysdig-deploy/templates/cluster-shield-check.yaml
  charts/sysdig-deploy/tests/cluster_shield_constraint_test.yaml
  charts/sysdig-deploy/values.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-shield/README.md
  charts/cluster-shield/values.yaml
  charts/sysdig-deploy/README.md
  charts/sysdig-deploy/values.yaml
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-shield-0.11.0
  charts/cluster-shield/CHANGELOG.md
  charts/cluster-shield/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.56.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat(registry-scanner): add the registry retry params [internal]
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
  charts/registry-scanner/templates/configmap.yaml
  charts/registry-scanner/values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

feat(registry-scanner): add the registry retry params [internal] (#1765)
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
  charts/registry-scanner/templates/configmap.yaml
  charts/registry-scanner/values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/registry-scanner/README.md
  charts/registry-scanner/values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for registry-scanner-1.3.0
  charts/registry-scanner/CHANGELOG.md
  charts/registry-scanner/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore(admission-controller): Update to v3.9.46 (#1753)
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for admission-controller-0.16.3
  charts/admission-controller/CHANGELOG.md
  charts/admission-controller/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1767)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.56.1
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

fix(agent): add the the missing channel for Agent Local Forwarder
  charts/agent/Chart.yaml
  charts/agent/values.schema.json
Owners: @sysdiglabs/team-tools-agent

fix(agent): add AUDIT_TAP as message type for the Agent Local Forwarder
  charts/agent/values.schema.json
Owners: @sysdiglabs/team-tools-agent

fix(agent): add the the missing channel for Agent Local Forwarder (#1766)
  charts/agent/Chart.yaml
  charts/agent/values.schema.json
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.24.2
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1768)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.56.2
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: update agent tag in agent chart
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

chore: bump the chart version of the agent chart
  charts/agent/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat: release agent 13.2.1 (#1769)
  charts/agent/Chart.yaml
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.24.3
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1770)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent
