Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.27.12
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.30.2
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1864)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.61.3
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

Explicitly naming the prometheus metrics port in the agent daemonset
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/daemonset_metrics_ports_test.yaml
Owners: @sysdiglabs/team-tools-agent

Bumping up agent helm version
  charts/agent/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(admission-controller): Update to v3.9.47
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

Fix var name
  charts/agent/README.md
Owners: @sysdiglabs/team-tools-agent

bump chart version
  charts/agent/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

fix(agent): Fix doc for `windows.image.pullSecrets` (#1867)
  charts/agent/Chart.yaml
  charts/agent/README.md
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/agent/README.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.27.13
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1868)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.61.4
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat(agent): explicitly naming the prometheus metrics port in the agent daemonset
  charts/agent/Chart.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/daemonset_metrics_ports_test.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent): explicitly naming the prometheus metrics port in the agent daemonset (#1869)
  charts/agent/Chart.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/daemonset_metrics_ports_test.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.27.14
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1870)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.61.5
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

fix(agent): use dig function for prometheus_exporter settings check
  charts/agent/Chart.yaml
  charts/agent/templates/daemonset.yaml
Owners: @sysdiglabs/team-tools-agent

fix(agent): use dig function for prometheus_exporter settings check (#1871)
  charts/agent/Chart.yaml
  charts/agent/templates/daemonset.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.27.15
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1872)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.61.6
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating cluster-shield
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/templates/configmap.yaml
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/templates/validatingwebhookconfiguration.yaml
  charts/cluster-shield/tests/configmap_test.yaml
  charts/cluster-shield/tests/custom_ca_test.yaml
  charts/cluster-shield/tests/deployment_test.yaml
  charts/cluster-shield/tests/schema_test.yaml
  charts/cluster-shield/tests/validatingwebhookconfiguration_test.yaml
  charts/cluster-shield/values.schema.json
  charts/cluster-shield/values.yaml
Owners: none

chore(sysdig-deploy): bump cluster-shield version to v1.2.0
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(cluster-shield,sysdig-deploy): bump cluster-shield to version 1.2.0 (#1874)
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/templates/configmap.yaml
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/templates/validatingwebhookconfiguration.yaml
  charts/cluster-shield/tests/configmap_test.yaml
  charts/cluster-shield/tests/custom_ca_test.yaml
  charts/cluster-shield/tests/deployment_test.yaml
  charts/cluster-shield/tests/schema_test.yaml
  charts/cluster-shield/tests/validatingwebhookconfiguration_test.yaml
  charts/cluster-shield/values.schema.json
  charts/cluster-shield/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-shield/README.md
  charts/cluster-shield/values.yaml
Owners: none
