Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/cluster-shield/ @sysdiglabs/team-tools-agent
/charts/common/         @sysdiglabs/team-tools-agent
/charts/shield/         @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent
/charts/sysdig/         @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1980)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.66.5
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

revert sysdig-deploy changes
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Fix(node-analyzer,collector): Switch to debug level oke logs (#1976)
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/README.md
  charts/kspm-collector/values.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/kspm-collector/README.md
  charts/kspm-collector/values.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for kspm-collector-0.16.5
  charts/kspm-collector/CHANGELOG.md
  charts/kspm-collector/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.32.10
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent): allow gke autopilot user to select universal ebpf driver
  charts/agent/Chart.yaml
  charts/agent/templates/_helpers.tpl
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/gke_autopilot_volumes_test.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent): always use http probes
  charts/agent/templates/_helpers.tpl
  charts/agent/templates/daemonset.yaml
  charts/agent/templates/deployment.yaml
  charts/agent/tests/readiness_probe_test.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent): allow to create secret with http_proxy configurations and mount it
  charts/agent/templates/configmap.yaml
  charts/agent/templates/daemonset-windows.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/templates/deployment.yaml
  charts/agent/templates/secrets.yaml
  charts/agent/tests/secrets_test.yaml
  charts/agent/tests/volumes_test.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent): always mount http-proxy credentials secrets but mark it as optional
  charts/agent/templates/daemonset-windows.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/templates/deployment.yaml
  charts/agent/tests/volumes_test.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1981)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.66.6
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(shield): bump chart version
  charts/shield/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat(shield): add local forwarder support to host shield in shield chart (#1972)
  charts/shield/Chart.yaml
  charts/shield/README.md
  charts/shield/templates/host/_configmap_helpers.tpl
  charts/shield/templates/host/configmap.yaml
  charts/shield/templates/host/daemonset.yaml
  charts/shield/tests/host/configmap-local-forwarder_test.yaml
  charts/shield/values.schema.json
  charts/shield/values.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/shield/README.md
  charts/shield/values.yaml
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for shield-0.1.7
  charts/shield/CHANGELOG.md
  charts/shield/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

Remove liveness probe in sysdig-agent-windows daemonset
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

Adapt readiness and liveness probe port due to binaries unification
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

feat: check cronjob frequency to avoid misuse
  charts/registry-scanner/templates/_helpers.tpl
  charts/registry-scanner/templates/cronjob.yaml
  charts/registry-scanner/tests/cronjob_test.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

build: bump chart version
  charts/registry-scanner/Chart.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

docs: update chart version
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Fix URLs
  charts/node-analyzer/README.md
Owners: none

Update Chart.yaml
  charts/node-analyzer/Chart.yaml
Owners: none

feat(node-analyzer): Fix URLs to the docs (#1984)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.32.11
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

fix(shield): fix the config used to define the cluster name in the host shield
  charts/shield/Chart.yaml
  charts/shield/templates/host/_configmap_helpers.tpl
  charts/shield/tests/host/configmap-dragent-yaml_test.yaml
Owners: @sysdiglabs/team-tools-agent

chode(ci): execute helm unit test for the shield chart
  .github/workflows/helm-unit-test.yaml
Owners: none

fix(shield): Fix cluster name & execute unit test in CI for the shield chart (#1986)
  .github/workflows/helm-unit-test.yaml
  charts/shield/Chart.yaml
  charts/shield/templates/host/_configmap_helpers.tpl
  charts/shield/tests/host/configmap-dragent-yaml_test.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for shield-0.1.8
  charts/shield/CHANGELOG.md
  charts/shield/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1985)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent
