Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1915)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.64.1
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

Reorder volumes
  charts/agent/templates/securitycontextconstraint.yaml
Owners: @sysdiglabs/team-tools-agent

Bump chart version
  charts/agent/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

fix(agent): Reorder volume list (replace #1899) (#1917)
  charts/agent/Chart.yaml
  charts/agent/templates/securitycontextconstraint.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.29.1
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat: Update helm chart to include cluster shield
  index.md
Owners: none

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1918)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.64.2
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat (docs cluster-shield): Update helm chart to include cluster shield (#1919)
  index.md
Owners: none

added heading instead of tldr
  charts/cluster-shield/README.md
Owners: none

chore: bump the bitnami/kubectl image reference in charts
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/Chart.yaml
  charts/rapid-response/values.yaml
Owners: @sysdiglabs/team-tools-agent

chore(ci): bump bitnami/kubectl image references (#1892)
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/Chart.yaml
  charts/rapid-response/values.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/agent/values.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/values.yaml
  charts/rapid-response/values.yaml
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.31.5
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for kspm-collector-0.16.1
  charts/kspm-collector/CHANGELOG.md
  charts/kspm-collector/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.29.2
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for rapid-response-0.9.8
  charts/rapid-response/CHANGELOG.md
  charts/rapid-response/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1921)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.64.3
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

fix: bump chart version
  charts/admission-controller/Chart.yaml
Owners: @sysdiglabs/cloud-native

fix: docs
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

chore(admission-controller): Update to v3.9.47 (#1866)
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for admission-controller-0.16.6
  charts/admission-controller/CHANGELOG.md
  charts/admission-controller/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

fix(node-analyzer): enable eve-integration when eveConnector is deployed [SSPROD-18967]
  charts/sysdig/templates/runtimeScanner/runtime-scanner-configmap.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1923)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.64.4
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: update helm-unittest plugin to version 0.6.1
  Makefile
Owners: none
