Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Bump sysdig-deploy chart
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat(node-analyzer,kspm-collector): Skip TLS certificate verification when using TLS Proxy
  charts/kspm-collector/templates/deployment.yaml
  charts/kspm-collector/tests/ca_cert_test.yaml
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
Owners: none

chore(node-analyzer,kspm-collector): Bump KSPM to 1.42.5 & Node Analyzer to 1.38.5
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/README.md
  charts/kspm-collector/values.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

feat(admission-controller): enable VM checks for admission webhook component
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/admission-controller/templates/_helpers.tpl
  charts/admission-controller/templates/webhook/clusterrole.yaml
  charts/admission-controller/templates/webhook/configmap.yaml
  charts/admission-controller/templates/webhook/deployment.yaml
  charts/admission-controller/tests/admissioncontrollerconfigmap_test.yaml
  charts/admission-controller/tests/configmap_test.yaml
  charts/admission-controller/values.yaml
Owners: @sysdiglabs/cloud-native

chore: updated sysdig-deploy chart
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore: update agent tag in agent chart
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

chore: bump the chart version of the agent chart
  charts/agent/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

removed misleading default
  charts/admission-controller/templates/webhook/configmap.yaml
Owners: @sysdiglabs/cloud-native

feat: release agent 13.0.3 (#1668)
  charts/agent/Chart.yaml
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.22.2
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(registry-scanner): Update to v0.2.68-rc2
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1669)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.46.2
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat(node-analyzer,kspm-collector): Skip TLS certificate verification when using TLS Proxy
  charts/kspm-collector/templates/deployment.yaml
  charts/kspm-collector/tests/ca_cert_test.yaml
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
Owners: none

feat(node-analyzer,kspm-collector): Skip TLS certificate verification when using TLS Proxy
  charts/kspm-collector/templates/deployment.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
Owners: none

chore(node-analyzer,kspm-collector): Bump KSPM to 1.42.5 & Node Analyzer to 1.38.5 adding https_proxy http support (#1666)
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/README.md
  charts/kspm-collector/values.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Bump sysdig-deploy chart
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat(node-analyzer,kspm-collector): Skip TLS certificate verification when using TLS Proxy & bump applications version (#1665)
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/README.md
  charts/kspm-collector/templates/deployment.yaml
  charts/kspm-collector/tests/ca_cert_test.yaml
  charts/kspm-collector/values.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/kspm-collector/README.md
  charts/kspm-collector/values.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for kspm-collector-0.15.0
  charts/kspm-collector/CHANGELOG.md
  charts/kspm-collector/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.26.0
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.47.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(cluster-scanner): bump cluster-scanner to 0.7.0
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

bump sys chart v
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(cluster-scanner): bump cluster-scanner to 0.7.0 (#1663)
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.48.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-scanner-0.12.0
  charts/cluster-scanner/CHANGELOG.md
  charts/cluster-scanner/RELEASE-NOTES.md
Owners: none

chore(registry-scanner): Update to vtesttls-test
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore(registry-scanner): Update to v0.2.68-rc2
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore(cluster-scanner): bump cluster-scanner to 0.7.1
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(cluster-scanner): bump cluster-scanner to 0.7.1 (#1673)
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
Owners: none

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners
