Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

wip: windows chart
  charts/agent/templates/_helpers.tpl
  charts/agent/templates/configmap-windows.yaml
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

wip2
  charts/agent/templates/daemonset-windows.yaml
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

remove duplicates
  charts/agent/templates/configmap-windows.yaml
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

implement nodeSelector
  charts/agent/templates/daemonset-windows.yaml
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

cleanup
  charts/agent/templates/_helpers.tpl
Owners: @sysdiglabs/team-tools-agent

default imagepullPolicy
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

chore: exclude cluster-shield chart from ct install tests
  .github/workflows/lint-test.yaml
Owners: none

chore: exclude cluster-shield chart from ct install tests (#1727)
  .github/workflows/lint-test.yaml
Owners: none

chore: Updating cluster-shield
  charts/cluster-shield/.helmignore
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/README.tpl
  charts/cluster-shield/ci/base-values.yaml
  charts/cluster-shield/ci/existing_secrets-values.yaml
  charts/cluster-shield/ci/region-values.yaml
  charts/cluster-shield/doc.yaml
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/templates/clusterrole.yaml
  charts/cluster-shield/templates/clusterrolebinding.yaml
  charts/cluster-shield/templates/configmap.yaml
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/templates/openshift_securitycontextconstraint.yaml
  charts/cluster-shield/templates/role.yaml
  charts/cluster-shield/templates/rolebinding.yaml
  charts/cluster-shield/templates/secrets.yaml
  charts/cluster-shield/templates/service-cluster-scanner.yaml
  charts/cluster-shield/templates/service.yaml
  charts/cluster-shield/templates/serviceaccount.yaml
  charts/cluster-shield/templates/validatingwebhookconfiguration.yaml
  charts/cluster-shield/tests/configmap_test.yaml
  charts/cluster-shield/tests/deployment_test.yaml
  charts/cluster-shield/tests/openshift_securitycontextconstraint_test.yaml
  charts/cluster-shield/tests/schema_test.yaml
  charts/cluster-shield/tests/service-cluster-scanner_test.yaml
  charts/cluster-shield/tests/service_test.yaml
  charts/cluster-shield/values.schema.json
  charts/cluster-shield/values.yaml
Owners: none

chore(cluster-shield): Automatic bump to version 0.10.1 (#1726)
  charts/cluster-shield/.helmignore
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/README.tpl
  charts/cluster-shield/ci/base-values.yaml
  charts/cluster-shield/ci/existing_secrets-values.yaml
  charts/cluster-shield/ci/region-values.yaml
  charts/cluster-shield/doc.yaml
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/templates/clusterrole.yaml
  charts/cluster-shield/templates/clusterrolebinding.yaml
  charts/cluster-shield/templates/configmap.yaml
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/templates/openshift_securitycontextconstraint.yaml
  charts/cluster-shield/templates/role.yaml
  charts/cluster-shield/templates/rolebinding.yaml
  charts/cluster-shield/templates/secrets.yaml
  charts/cluster-shield/templates/service-cluster-scanner.yaml
  charts/cluster-shield/templates/service.yaml
  charts/cluster-shield/templates/serviceaccount.yaml
  charts/cluster-shield/templates/validatingwebhookconfiguration.yaml
  charts/cluster-shield/tests/configmap_test.yaml
  charts/cluster-shield/tests/deployment_test.yaml
  charts/cluster-shield/tests/openshift_securitycontextconstraint_test.yaml
  charts/cluster-shield/tests/schema_test.yaml
  charts/cluster-shield/tests/service-cluster-scanner_test.yaml
  charts/cluster-shield/tests/service_test.yaml
  charts/cluster-shield/values.schema.json
  charts/cluster-shield/values.yaml
Owners: none

fix(cluster-shield): add missing CHANGELOG file and bump version
  charts/cluster-shield/CHANGELOG.md
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
Owners: none

fix(cluster-shield): add missing CHANGELOG file and bump version (#1728)
  charts/cluster-shield/CHANGELOG.md
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-shield/README.md
  charts/cluster-shield/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-shield-0.10.2
  charts/cluster-shield/CHANGELOG.md
  charts/cluster-shield/RELEASE-NOTES.md
Owners: none

remove separate configmap
  charts/agent/templates/configmap-windows.yaml
  charts/agent/templates/configmap.yaml
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

add secrets, though unused
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

Change node analyzer version
  charts/node-analyzer/README.md
Owners: none

Change node analyzer version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Versiob bump
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat(node-analyzer): Add flag in order to allow Bottlerocket volumes (#1699)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
  charts/node-analyzer/tests/botllerocket_test.yaml
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.52.1
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.27.1
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

guard rendering of customerid for temporary testing
  charts/agent/templates/configmap.yaml
Owners: @sysdiglabs/team-tools-agent

temporarily bump chart version
  charts/agent/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

bump agent version in sysdig-deploy chart
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

rework values for windows
  charts/agent/templates/_helpers.tpl
  charts/agent/templates/daemonset-windows.yaml
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

fix imagePullSecrets
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

remove accesskey from configmap
  charts/agent/templates/configmap.yaml
Owners: @sysdiglabs/team-tools-agent

chore(admission-controller): Update to v3.9.44
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

bump sysdig-deploy
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(admission-controller): Update to v3.9.44 (#1731)
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for admission-controller-0.16.2
  charts/admission-controller/CHANGELOG.md
  charts/admission-controller/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1732)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners
