Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.26.2
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1681)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.49.2
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(node-analyzer): bump vuln-host-scanner to v0.8.1
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

chore(node-analyzer): bump vuln-host-scanner to v0.8.1 (#1682)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.26.3
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1683)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.49.3
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(agent): revert ensure os-release file is mounted (#1625)
  charts/agent/Chart.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/gke_autopilot_volumes_test.yaml
  charts/agent/tests/volumes_test.yaml
Owners: @sysdiglabs/team-tools-agent

chore(agent): bump chart to version 1.22.4 after revert
  charts/agent/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(agent): revert ensure os-release file is mounted (#1684)
  charts/agent/Chart.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/gke_autopilot_volumes_test.yaml
  charts/agent/tests/volumes_test.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.22.4
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1685)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.49.4
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat(agent): ensure os-release file is mounted
  charts/agent/Chart.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/gke_autopilot_volumes_test.yaml
  charts/agent/tests/volumes_test.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent): revert ensure os-release file is mounted (#1686)
  charts/agent/Chart.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/gke_autopilot_volumes_test.yaml
  charts/agent/tests/volumes_test.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.22.5
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1687)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.49.5
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

add ocp internal registry support
  charts/registry-scanner/templates/_job.tpl
  charts/registry-scanner/templates/configmap.yaml
  charts/registry-scanner/templates/secret.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

add additional improvments
  charts/registry-scanner/templates/clusterrolebinding.yaml
  charts/registry-scanner/templates/configmap.yaml
  charts/registry-scanner/templates/secret.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

add ocp relatedt tests
  charts/registry-scanner/tests/ocp_test.yaml
  charts/registry-scanner/tests/test-values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

bump version to 1.2.0
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/tests/ocp_test.yaml
  charts/registry-scanner/tests/test-values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

update readme
  charts/registry-scanner/README.md
  charts/registry-scanner/README.tpl
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore(cluster-scanner): bump cluster-scanner to 0.7.2
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
Owners: none

chore(cluster-scanner): bump cluster-scanner to 0.7.2 (#1689)
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
Owners: none
