Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

feat: release agent 13.2.0 (#1748)
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.24.0
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.53.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

cant get probe to work
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

chore(node-analyzer): bump sysdig/vuln-host-scanner to v0.10.0
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(node-analyzer): bump sysdig/vuln-host-scanner to v0.10.0 (#1749)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.54.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.28.0
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

chore(node-analyzer): bump sysdig/vuln-runtime-scanner to v1.7.0
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(node-analyzer): bump sysdig/vuln-runtime-scanner to v1.7.0 (#1750)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.55.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.29.0
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

readiness probe now working
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

feat(harbor-scanner-sysdig-secure): Pump Harbor scanner version
  charts/harbor-scanner-sysdig-secure/Chart.yaml
  charts/harbor-scanner-sysdig-secure/README.md
  charts/harbor-scanner-sysdig-secure/templates/deployment.yaml
  charts/harbor-scanner-sysdig-secure/values.yaml
Owners: none

Fix image tag default value
  charts/harbor-scanner-sysdig-secure/templates/deployment.yaml
  charts/harbor-scanner-sysdig-secure/values.yaml
Owners: none

Remove trailing spaces
  charts/harbor-scanner-sysdig-secure/ci/required-values.yaml.template
Owners: none

Update template file
  charts/harbor-scanner-sysdig-secure/ci/required-values.yaml.template
Owners: none

chore(admission-controller): Update to v3.9.46
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

feat(harbor-scanner-sysdig-secure): Pump Harbor scanner version (#1751)
  charts/harbor-scanner-sysdig-secure/Chart.yaml
  charts/harbor-scanner-sysdig-secure/README.md
  charts/harbor-scanner-sysdig-secure/templates/deployment.yaml
  charts/harbor-scanner-sysdig-secure/values.yaml
Owners: none

feat(harbor-scanner-sysdig-secure): Pump Harbor scanner version (#1751) (#1752)
  charts/harbor-scanner-sysdig-secure/Chart.yaml
  charts/harbor-scanner-sysdig-secure/README.md
  charts/harbor-scanner-sysdig-secure/templates/deployment.yaml
  charts/harbor-scanner-sysdig-secure/values.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/harbor-scanner-sysdig-secure/README.md
  charts/harbor-scanner-sysdig-secure/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for harbor-scanner-sysdig-secure-0.8.0
  charts/harbor-scanner-sysdig-secure/CHANGELOG.md
  charts/harbor-scanner-sysdig-secure/RELEASE-NOTES.md
Owners: none

feat(node-analyzer): added option to disable platform scanning
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/templates/configmap-host-scanner.yaml
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(node-analyzer): corrected chart version as per-review
  charts/node-analyzer/Chart.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(registry-scanner): Update to v0.2.69
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore(registry-scanner): Update to v0.2.69 (#1755)
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for registry-scanner-1.1.35
  charts/registry-scanner/CHANGELOG.md
  charts/registry-scanner/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update README.md
  charts/node-analyzer/README.md
Owners: none

Update values.yaml
  charts/node-analyzer/values.yaml
Owners: none

chore(node-analyzer): update the node-analyzer chart version
  charts/node-analyzer/Chart.yaml
Owners: none

chore(node-analyzer): Bump benchmark runner (#1675)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners
