Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-scanner-0.12.1
  charts/cluster-scanner/CHANGELOG.md
  charts/cluster-scanner/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.48.1
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(registry-scanner): Update to v0.2.68
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore(registry-scanner): Update to v0.2.68 (#1674)
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for registry-scanner-1.1.34
  charts/registry-scanner/CHANGELOG.md
  charts/registry-scanner/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore(admission-controller): Update to v3.9.42
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

chore(admission-controller): Update to v3.9.42 (#1676)
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for admission-controller-0.15.4
  charts/admission-controller/CHANGELOG.md
  charts/admission-controller/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1677)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.48.2
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat(agent): ensure os-release file is mounted
  charts/agent/Chart.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/gke_autopilot_volumes_test.yaml
  charts/agent/tests/volumes_test.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent): ensure os-release file is mounted (#1625)
  charts/agent/Chart.yaml
  charts/agent/templates/daemonset.yaml
  charts/agent/tests/gke_autopilot_volumes_test.yaml
  charts/agent/tests/volumes_test.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.22.3
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

removed misleading default
  charts/admission-controller/templates/webhook/configmap.yaml
Owners: @sysdiglabs/cloud-native

disabled by default
  charts/admission-controller/README.md
  charts/admission-controller/templates/_helpers.tpl
  charts/admission-controller/templates/webhook/configmap.yaml
  charts/admission-controller/tests/admissioncontrollerconfigmap_test.yaml
  charts/admission-controller/tests/configmap_test.yaml
  charts/admission-controller/values.yaml
Owners: @sysdiglabs/cloud-native

feat(admission-controller): enable VM checks for admission webhook component
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/admission-controller/templates/_helpers.tpl
  charts/admission-controller/templates/webhook/clusterrole.yaml
  charts/admission-controller/templates/webhook/configmap.yaml
  charts/admission-controller/templates/webhook/deployment.yaml
  charts/admission-controller/tests/admissioncontrollerconfigmap_test.yaml
  charts/admission-controller/tests/configmap_test.yaml
  charts/admission-controller/values.yaml
Owners: @sysdiglabs/cloud-native

chore: update sysdig-deploy chart
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat(admission-controller): Support for VM checks (#1651)
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/admission-controller/templates/_helpers.tpl
  charts/admission-controller/templates/webhook/clusterrole.yaml
  charts/admission-controller/templates/webhook/configmap.yaml
  charts/admission-controller/templates/webhook/deployment.yaml
  charts/admission-controller/tests/admissioncontrollerconfigmap_test.yaml
  charts/admission-controller/tests/configmap_test.yaml
  charts/admission-controller/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/admission-controller/README.md
  charts/admission-controller/values.yaml
Owners: @sysdiglabs/cloud-native

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.49.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for admission-controller-0.16.0
  charts/admission-controller/CHANGELOG.md
  charts/admission-controller/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native

feat(node-analyzer/sysdig): Update legacy engine NIA/HostAnalyzer components with security updates
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

feat(node-analyzer,sysdig): Update legacy engine NIA/HostAnalyzer components with security updates (#1679)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.26.1
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1678)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.49.1
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(node-analyzer): bup sysdig/vuln-runtime-scanner to v1.6.11
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

chore(node-analyzer): bump sysdig/vuln-runtime-scanner to v1.6.11 (#1680)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners
