Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.52.5
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.27.3
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

feat(node-analyzer): bump host-scanner to v0.9.1
  charts/node-analyzer/README.md
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
  charts/node-analyzer/values.yaml
Owners: none

bump node analyer chart
  charts/node-analyzer/Chart.yaml
Owners: none

feat(node-analyzer): bump host-scanner to v0.9.1 (#1739)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
  charts/node-analyzer/values.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.27.4
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1742)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.52.6
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

update kspm collector version
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/README.md
  charts/kspm-collector/values.yaml
Owners: none

chore(node-analyzer): bump legacy node image analyzer to v0.1.32
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

chore(node-analyzer): bump legacy node image analyzer to v0.1.32 (#1738)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.27.5
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

chore(cluster-scanner): bump cluster-scanner to 0.7.6
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(cluster-scanner,sysdig-deploy): bump cluster-scanner to 0.7.6 (#1745)
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.52.7
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-scanner-0.13.3
  charts/cluster-scanner/CHANGELOG.md
  charts/cluster-scanner/RELEASE-NOTES.md
Owners: none

chore(admission-controller): Update to v3.9.45
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

chart version updated
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/RELEASE-NOTES.md
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update char version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

wip: readiness probe
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

update release-notes
  charts/kspm-collector/RELEASE-NOTES.md
Owners: none

feat(kspm-collector): bump kspm-collector version to 0.15.4 (#1747)
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/README.md
  charts/kspm-collector/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/kspm-collector/README.md
  charts/kspm-collector/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.52.8
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for kspm-collector-0.15.4
  charts/kspm-collector/CHANGELOG.md
  charts/kspm-collector/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1744)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.52.9
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: update agent tag in agent chart
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

chore: bump the chart version of the agent chart
  charts/agent/Chart.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent
