Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore: re-enable unittest in pre-commit
  .pre-commit-config.yaml
Owners: none

chore(agent): bump helm-unittest to v0.5.1
  charts/agent/Chart.yaml
  charts/agent/tests/ca_cert_test.yaml
  charts/agent/tests/conditional_flag_test.yaml
  charts/agent/tests/daemonset_update_strategy_test.yaml
  charts/agent/tests/delegated_agent_deployment_test.yaml
  charts/agent/tests/gke_autopilot_volumes_test.yaml
  charts/agent/tests/gke_test.yaml
  charts/agent/tests/global_overrides_test.yaml
  charts/agent/tests/golden_template_test.yaml
  charts/agent/tests/label_test.yaml
  charts/agent/tests/local_forwarder_test.yaml
  charts/agent/tests/node_selector_labels_test.yaml
  charts/agent/tests/notes_test.yaml
  charts/agent/tests/priorityclass_test.yaml
  charts/agent/tests/readiness_probe_test.yaml
  charts/agent/tests/readme_command_test.yaml
  charts/agent/tests/service_account_test.yaml
  charts/agent/tests/universal_ebpf_test.yaml
  charts/agent/tests/volumes_test.yaml
Owners: @sysdiglabs/team-tools-agent

chore(cluster-shield): bump helm-unittest to v0.5.1
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/tests/proxy_settings_test.yaml
Owners: none

Change secureApiTokenSecret key name
  charts/cluster-shield/templates/deployment.yaml
Owners: none

fix test and buump the version
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/tests/deployment_test.yaml
Owners: none

feat(admission-controller,sysdig-deploy): add initial support for cert-manager
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/admission-controller/templates/_helpers.tpl
  charts/admission-controller/templates/webhook/admissionregistration.yaml
  charts/admission-controller/templates/webhook/certificate.yaml
  charts/admission-controller/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/team-tools-agent

use httpGet probes instead of exec
  charts/agent/templates/daemonset-windows.yaml
Owners: @sysdiglabs/team-tools-agent

chore(cluster-shield): regenerate README file
  charts/cluster-shield/README.md
Owners: none

fix(cluster-shield):Change secureApiTokenSecret key name (#1790)
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/tests/deployment_test.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-shield/README.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-shield-1.0.3
  charts/cluster-shield/CHANGELOG.md
  charts/cluster-shield/RELEASE-NOTES.md
Owners: none

fix(cluster-shield): global.sslVerifyCertificate was not correctly used
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/tests/configmap_test.yaml
  charts/cluster-shield/values.yaml
Owners: none

fix(cluster-shield): global.sslVerifyCertificate was not correctly used (#1793)
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/tests/configmap_test.yaml
  charts/cluster-shield/values.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-shield/README.md
  charts/cluster-shield/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-shield-1.0.4
  charts/cluster-shield/CHANGELOG.md
  charts/cluster-shield/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1792)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.56.12
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(agent,cluster-shield,sysdig-deploy,rapid-response,kspm-collector,cluster-scanner): bump helm-unittest to v0.5.1 (#1785)
  .github/workflows/helm-unit-test.yaml
  Makefile
  charts/agent/Chart.yaml
  charts/agent/tests/ca_cert_test.yaml
  charts/agent/tests/conditional_flag_test.yaml
  charts/agent/tests/daemonset_update_strategy_test.yaml
  charts/agent/tests/delegated_agent_deployment_test.yaml
  charts/agent/tests/gke_autopilot_volumes_test.yaml
  charts/agent/tests/gke_test.yaml
  charts/agent/tests/global_overrides_test.yaml
  charts/agent/tests/golden_template_test.yaml
  charts/agent/tests/label_test.yaml
  charts/agent/tests/local_forwarder_test.yaml
  charts/agent/tests/node_selector_labels_test.yaml
  charts/agent/tests/notes_test.yaml
  charts/agent/tests/priorityclass_test.yaml
  charts/agent/tests/readiness_probe_test.yaml
  charts/agent/tests/readme_command_test.yaml
  charts/agent/tests/service_account_test.yaml
  charts/agent/tests/universal_ebpf_test.yaml
  charts/agent/tests/volumes_test.yaml
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/tests/configmap_test.yaml
  charts/cluster-scanner/tests/notes_test.yaml
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/tests/proxy_settings_test.yaml
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/tests/agent_tags_test.yaml
  charts/rapid-response/Chart.yaml
  charts/rapid-response/tests/ca_cert_test.yaml
  charts/sysdig-deploy/Chart.yaml
  charts/sysdig-deploy/tests/golden_template_test.yaml
  charts/sysdig-deploy/tests/notes_test.yaml
  charts/sysdig-deploy/tests/readme_command_test.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-scanner/README.md
  charts/cluster-shield/README.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-shield-1.0.5
  charts/cluster-shield/CHANGELOG.md
  charts/cluster-shield/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-scanner-0.13.5
  charts/cluster-scanner/CHANGELOG.md
  charts/cluster-scanner/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.24.5
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for kspm-collector-0.15.7
  charts/kspm-collector/CHANGELOG.md
  charts/kspm-collector/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for rapid-response-0.9.2
  charts/rapid-response/CHANGELOG.md
  charts/rapid-response/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.57.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1794)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.57.1
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(registry-scanner): Update to v0.2.70
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

missed updates
  charts/agent/Chart.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

pin agent-windows to 1.0.0
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent): add support for Windows Agent (#1730)
  charts/agent/Chart.yaml
  charts/agent/README.md
  charts/agent/templates/_helpers.tpl
  charts/agent/templates/configmap.yaml
  charts/agent/templates/daemonset-windows.yaml
  charts/agent/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/agent/README.md
  charts/agent/values.yaml
Owners: @sysdiglabs/team-tools-agent

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners
