Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.27.18
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1894)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.62.2
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

Added replication controllers to the list of resources to get/list/watch
  charts/node-analyzer/templates/clusterrole-node-analyzer.yaml
Owners: none

bumped chart version
  charts/node-analyzer/Chart.yaml
Owners: none

Reorder volumes
  charts/agent/templates/securitycontextconstraint.yaml
Owners: @sysdiglabs/team-tools-agent

Bump chart version
  charts/agent/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

add nodeSelector in config for creating inline registry-scanner jobs with nodeSelector
  charts/registry-scanner/templates/configmap.yaml
  charts/registry-scanner/values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

bump chart and app version
  charts/registry-scanner/Chart.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

document new variable on README.md
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

pre-commit checks
  charts/registry-scanner/README.md
  charts/registry-scanner/values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

add unittests for nodeselector on child jobs
  charts/registry-scanner/tests/configmap_test.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

fix: revert app version bump
  charts/registry-scanner/Chart.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

fix(registry-scanner): add assert for test
  charts/registry-scanner/tests/configmap_test.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

style: remove blank line
  charts/registry-scanner/tests/configmap_test.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore(registry-scanner): Update to v0.4.0
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

changing nodeSelector to be within config.scan.job
  charts/registry-scanner/templates/configmap.yaml
  charts/registry-scanner/tests/configmap_test.yaml
  charts/registry-scanner/values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

pre-commit checks
  charts/registry-scanner/README.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

feat(registry-scanner): allow nodeselector configuration (#1904)
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
  charts/registry-scanner/templates/configmap.yaml
  charts/registry-scanner/tests/configmap_test.yaml
  charts/registry-scanner/values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/registry-scanner/README.md
  charts/registry-scanner/values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for registry-scanner-1.3.4
  charts/registry-scanner/CHANGELOG.md
  charts/registry-scanner/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

bumped chart version
  charts/node-analyzer/Chart.yaml
Owners: none

Added replication controllers to the list of resources to get/list/watch
  charts/node-analyzer/templates/clusterrole-node-analyzer.yaml
Owners: none

feat(node-analyzer): Added replication controllers to the list of inspected resources (#1905)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/templates/clusterrole-node-analyzer.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.31.1
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1906)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.62.3
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating cluster-shield
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/doc.yaml
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/templates/secrets.yaml
  charts/cluster-shield/templates/validatingwebhookconfiguration.yaml
  charts/cluster-shield/tests/configmap_test.yaml
  charts/cluster-shield/tests/deployment_test.yaml
  charts/cluster-shield/tests/secret_test.yaml
  charts/cluster-shield/tests/validatingwebhookconfiguration_existing_secret_test.yaml
  charts/cluster-shield/values.schema.json
  charts/cluster-shield/values.yaml
Owners: none

chore(sysdig-deploy): bump cluster-shield to v1.3.0
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(cluster-shield): Automatic bump to version 1.3.0 (#1909)
  charts/cluster-shield/Chart.yaml
  charts/cluster-shield/README.md
  charts/cluster-shield/doc.yaml
  charts/cluster-shield/templates/_helpers.tpl
  charts/cluster-shield/templates/deployment.yaml
  charts/cluster-shield/templates/secrets.yaml
  charts/cluster-shield/templates/validatingwebhookconfiguration.yaml
  charts/cluster-shield/tests/configmap_test.yaml
  charts/cluster-shield/tests/deployment_test.yaml
  charts/cluster-shield/tests/secret_test.yaml
  charts/cluster-shield/tests/validatingwebhookconfiguration_existing_secret_test.yaml
  charts/cluster-shield/values.schema.json
  charts/cluster-shield/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-shield/README.md
  charts/cluster-shield/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-shield-1.3.0
  charts/cluster-shield/CHANGELOG.md
  charts/cluster-shield/RELEASE-NOTES.md
Owners: none

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners
