Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.49.9
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

Add new field for bottlerocket
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
  charts/node-analyzer/values.yaml
Owners: none

Change path to bottlerocket configuration
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
  charts/node-analyzer/values.yaml
Owners: none

Create tests
  charts/node-analyzer/tests/botllerocket_test.yaml
Owners: none

feat(cluster-scanner): removed support for scannerMode
  charts/cluster-scanner/README.md
  charts/cluster-scanner/templates/_helpers.tpl
  charts/cluster-scanner/templates/clusterrole.yaml
  charts/cluster-scanner/templates/deployment.yaml
  charts/cluster-scanner/tests/clusterrole_test.yaml
  charts/cluster-scanner/tests/configmap_test.yaml
  charts/cluster-scanner/tests/deployment_test.yaml
  charts/cluster-scanner/values.schema.json
  charts/cluster-scanner/values.yaml
Owners: none

feat(cluster-scanner): removed multiCluster option
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/templates/_helpers.tpl
  charts/cluster-scanner/values.yaml
Owners: none

chore(cluster-scanner): updated docs
  charts/cluster-scanner/README.md
Owners: none

chore(cluster-scanner): fixed end-of-file
  charts/cluster-scanner/tests/clusterrole_test.yaml
Owners: none

feat(sysdig-deploy): bumped cluster-scanner chart version to 0.13.0
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat(cluster-scanner): removed support for multi-cluster (#1700)
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/templates/_helpers.tpl
  charts/cluster-scanner/templates/clusterrole.yaml
  charts/cluster-scanner/templates/deployment.yaml
  charts/cluster-scanner/tests/clusterrole_test.yaml
  charts/cluster-scanner/tests/configmap_test.yaml
  charts/cluster-scanner/tests/deployment_test.yaml
  charts/cluster-scanner/values.schema.json
  charts/cluster-scanner/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/cluster-scanner/README.md
  charts/cluster-scanner/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for cluster-scanner-0.13.0
  charts/cluster-scanner/CHANGELOG.md
  charts/cluster-scanner/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.50.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat(agent): add tag to distinguish delegated deployment agents
  charts/agent/templates/configmap-deployment.yaml
Owners: @sysdiglabs/team-tools-agent

Bump chart version
  charts/agent/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Add UTs
  charts/agent/tests/delegated_agent_deployment_test.yaml
Owners: @sysdiglabs/team-tools-agent

feat(agent): add tag to distinguish delegated deployment agents (#1701)
  charts/agent/Chart.yaml
  charts/agent/templates/configmap-deployment.yaml
  charts/agent/tests/delegated_agent_deployment_test.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for agent-1.22.7
  charts/agent/CHANGELOG.md
  charts/agent/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1702)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.50.1
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

chore(admission-controller): Update to v3.9.43
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
Owners: @sysdiglabs/cloud-native

Remove extra line
  charts/node-analyzer/values.yaml
Owners: none

Add line
  charts/node-analyzer/tests/botllerocket_test.yaml
  charts/node-analyzer/values.yaml
Owners: none

Fix test
  charts/node-analyzer/tests/botllerocket_test.yaml
Owners: none

Fix test
  charts/node-analyzer/tests/botllerocket_test.yaml
Owners: none

Fix test
  charts/node-analyzer/tests/botllerocket_test.yaml
Owners: none

Change equals by contains operator
  charts/node-analyzer/tests/botllerocket_test.yaml
Owners: none

Fix Path
  charts/node-analyzer/tests/botllerocket_test.yaml
Owners: none

Fix Path
  charts/node-analyzer/tests/botllerocket_test.yaml
Owners: none

Fix Path
  charts/node-analyzer/tests/botllerocket_test.yaml
Owners: none

Fix Path
  charts/node-analyzer/tests/botllerocket_test.yaml
Owners: none

Fix Path
  charts/node-analyzer/tests/botllerocket_test.yaml
Owners: none

Bump node-analyzer chart version
  charts/node-analyzer/templates/daemonset-node-analyzer copy.yaml
Owners: none

Bump node-analyzer chart version
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/templates/daemonset-node-analyzer copy.yaml
Owners: none

Add new fields to README
  charts/node-analyzer/README.md
Owners: none

Add new Bottlerocket fields to README
  charts/node-analyzer/README.md
Owners: none

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners
