Repository sysdiglabs/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sysdiglabs/team-tools-agent, @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1718)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.51.4
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat(ci): add updatecli job to update bitnami/kubectl image tags
  .github/updatecli.d/config-update-bitnami-kubectl-image.yaml
  .github/workflows/kubectl-update.yaml
Owners: none

fix: update github job name to match task
  .github/workflows/kubectl-update.yaml
Owners: none

feat(ci): add updatecli job to update bitnami/kubectl image tags (#1719)
  .github/updatecli.d/config-update-bitnami-kubectl-image.yaml
  .github/workflows/kubectl-update.yaml
Owners: none

feat(registry-scanner): add ocp internal registry support
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
  charts/registry-scanner/README.tpl
  charts/registry-scanner/templates/_job.tpl
  charts/registry-scanner/templates/clusterrole.yaml
  charts/registry-scanner/templates/clusterrolebinding.yaml
  charts/registry-scanner/templates/configmap.yaml
  charts/registry-scanner/templates/secret.yaml
  charts/registry-scanner/tests/ocp_test.yaml
  charts/registry-scanner/tests/test-values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

tests fixed
  charts/admission-controller/README.md
  charts/cloud-connector/README.md
  charts/cluster-scanner/README.md
  charts/registry-scanner/README.md
  charts/registry-scanner/templates/clusterrole.yaml
  charts/registry-scanner/templates/clusterrolebinding.yaml
  charts/registry-scanner/templates/configmap.yaml
  charts/registry-scanner/tests/ocp_test.yaml
  charts/registry-scanner/tests/ocp_test_values.yaml
  charts/registry-scanner/values.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

removed generated readmes from other charts
  charts/admission-controller/README.md
  charts/cloud-connector/README.md
  charts/cluster-scanner/README.md
Owners: @sysdiglabs/cloud-native

removed trailing whitespace
  charts/registry-scanner/tests/ocp_test.yaml
Owners: @sysdiglabs/cloud-native, @sysdiglabs/vm-scanners

bump test image in node-analyzer
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

feat(kspm-collector): Added permission for secrets (#1715)
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/templates/clusterrole.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for kspm-collector-0.15.2
  charts/kspm-collector/CHANGELOG.md
  charts/kspm-collector/RELEASE-NOTES.md
Owners: none

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1722)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.51.5
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

feat(admission_controller): release with AC Webhook latest version, 1.27.3
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/admission-controller/values.yaml
Owners: @sysdiglabs/cloud-native

feat(admission_controller): release with AC Webhook latest version, 1.27.3 (#1708)
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/admission-controller/values.yaml
Owners: @sysdiglabs/cloud-native

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/admission-controller/README.md
  charts/admission-controller/values.yaml
Owners: @sysdiglabs/cloud-native

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for admission-controller-0.16.1
  charts/admission-controller/CHANGELOG.md
  charts/admission-controller/RELEASE-NOTES.md
Owners: @sysdiglabs/cloud-native

chore: Updating sysdig-deploy version
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

chore(sysdig-deploy): Automatic version bump due to updated dependencies (#1725)
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.51.6
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

to revert
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

chore(node-analyzer): bump host-scanner to v0.9.0
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/templates/configmap-host-scanner.yaml
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
  charts/node-analyzer/tests/hostscanner_test.yaml
  charts/node-analyzer/values.yaml
Owners: none

bump charts
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

quote boolean
  charts/node-analyzer/README.md
  charts/node-analyzer/templates/configmap-host-scanner.yaml
  charts/node-analyzer/tests/hostscanner_test.yaml
  charts/node-analyzer/values.yaml
Owners: none

Update charts/node-analyzer/README.md
  charts/node-analyzer/README.md
Owners: none

Bump version
  charts/node-analyzer/Chart.yaml
Owners: none

Change kspm image tag
  charts/node-analyzer/values.yaml
Owners: none

chore(node-analyzer): bump host-scanner to v0.9.0 (#1713)
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/README.md
  charts/node-analyzer/templates/configmap-host-scanner.yaml
  charts/node-analyzer/templates/daemonset-node-analyzer.yaml
  charts/node-analyzer/tests/hostscanner_test.yaml
  charts/node-analyzer/values.yaml
  charts/sysdig-deploy/Chart.yaml
Owners: @sysdiglabs/team-tools-agent

Update index.yaml
  index.yaml
Owners: none

github_actions_ci: Update public key
  charts/node-analyzer/README.md
  charts/node-analyzer/values.yaml
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for node-analyzer-1.27.0
  charts/node-analyzer/CHANGELOG.md
  charts/node-analyzer/RELEASE-NOTES.md
Owners: none

github_actions_ci: Update CHANGELOG and RELEASE-NOTES for sysdig-deploy-1.52.0
  charts/sysdig-deploy/CHANGELOG.md
  charts/sysdig-deploy/RELEASE-NOTES.md
Owners: @sysdiglabs/team-tools-agent

.github/CODEOWNERS:

# request review from agent team members for changes to sysdig chart
/charts/sysdig/         @sysdiglabs/team-tools-agent
/charts/agent/          @sysdiglabs/team-tools-agent
/charts/sysdig-deploy/  @sysdiglabs/team-tools-agent

/charts/admission-controller @sysdiglabs/cloud-native
/charts/cloud-connector      @sysdiglabs/cloud-native
/charts/cloud-scanning       @sysdiglabs/cloud-native
/charts/registry-scanner     @sysdiglabs/cloud-native @sysdiglabs/vm-scanners
