Repository sysdiglabs/charts, pull requests merged in 2023-09, with the labels that each got.

#1326 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1330 chore(registry-scanner): Update to v0.2.46
  charts/registry-scanner/Chart.yaml
Labels: automated PR

#1332 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1341 feat(admission-controller): add ttl and active deadline
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/admission-controller/templates/webhook/configmap.yaml
Labels: no-tests

#1343 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1344 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1342 feat(admission-controller): add workers memory limits [Internal]
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/admission-controller/templates/webhook/configmap.yaml
Labels: no-tests

#1353 feat: release agent 12.16.1
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/sysdig/Chart.yaml
  charts/sysdig/values.yaml
Labels: automated PR

#1345 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1355 fix(node-analyzer): prevent `custom_tags` from being set to `nil`
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/templates/configmap-host-scanner.yaml
Labels: no-tests

#1356 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1360 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1352 feat(admission-controller): add worker volume size limit as configurable parameter
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/admission-controller/templates/webhook/configmap.yaml
Labels: no-tests

#1367 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1371 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1376 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1377 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1379 fix(admission-controller): not detecting events in its own namespace
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
  charts/admission-controller/templates/_helpers.tpl
Labels: no-tests

#1374 chore(registry-scanner): Update to v0.2.48
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
  charts/registry-scanner/templates/configmap.yaml
  charts/registry-scanner/values.yaml
Labels: automated PR, no-tests

#1380 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1381 feat: release agent 12.16.2
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/sysdig/Chart.yaml
  charts/sysdig/values.yaml
Labels: automated PR

#1382 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1383 fix(cluster-scanner): corrected incompatibility with helm 3.9
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/templates/_helpers.tpl
  charts/sysdig-deploy/Chart.yaml
Labels: no-tests
