Repository sysdiglabs/charts, pull requests merged in 2023-11, with the labels that each got.

#1436 fix(agent,kspm-collector,node-analyzer,sysdig): whitespace errors
  charts/agent/Chart.yaml
  charts/agent/templates/secrets.yaml
  charts/kspm-collector/Chart.yaml
  charts/kspm-collector/templates/secret.yaml
  charts/node-analyzer/Chart.yaml
  charts/node-analyzer/templates/secrets.yaml
  charts/sysdig/Chart.yaml
  charts/sysdig/templates/secrets.yaml
Labels: no-tests

#1446 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1455 feat(registry-scanner): Add flag to enable mem profile dumps on a PVC
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
  charts/registry-scanner/templates/_job.tpl
  charts/registry-scanner/values.yaml
Labels: no-tests

#1454 chore(admission-controller): Update to v3.9.35
  charts/admission-controller/Chart.yaml
  charts/admission-controller/README.md
Labels: automated PR

#1460 feat(cluster-scanner): Enable platform services in US4 [SSPROD-32841]
  charts/cluster-scanner/Chart.yaml
  charts/cluster-scanner/README.md
  charts/cluster-scanner/templates/_helpers.tpl
Labels: no-tests

#1463 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
  charts/sysdig-deploy/ci/test-values.yaml.template
Labels: automated PR

#1471 chore(registry-scanner): Update to v0.2.57
  charts/registry-scanner/CHANGELOG.md
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Labels: automated PR

#1475 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1478 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1482 chore(registry-scanner): Update to v0.2.58
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
  charts/registry-scanner/templates/_job.tpl
Labels: automated PR, no-tests

#1483 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1488 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1493 feat: release agent 12.18.0
  charts/agent/Chart.yaml
  charts/agent/values.yaml
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1495 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1499 chore(registry-scanner): Update to v0.2.59 [ESC-3783]
  charts/registry-scanner/Chart.yaml
  charts/registry-scanner/README.md
Labels: automated PR

#1502 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR

#1505 chore(sysdig-deploy): Automatic version bump due to updated dependencies
  charts/sysdig-deploy/Chart.yaml
Labels: automated PR
